@model Category
@{
    ViewData["Title"] = "AddOrUpdate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h2>Kategori Ekle/Düzenle</h2>
    <hr />
    <form asp-controller="Category" asp-action="AddOrUpdate" method="post">
        <input type="hidden" asp-for="CategoryId" />
        <div class="form-group">
            <label asp-for="Name">Kategori Adı</label>
            <input asp-for="Name" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Gönder</button>
    </form>
</div>


